body {
  font-family: input-mono-compressed,monospace;
  font-weight: 400;
font-style: normal;
}


$grid-width = 100vw;
$grid-margins = 4rem;
$grid-gutters = 12px;
$total-columns = 12;

column



$single-column = calc(($grid-width - ($grid-margins * 2)) - (($total-columns - 1) * $grid-gutters) / $total-columns)




($single-column * $column-span) + ($grid-gutters * ($column-span -1))
