@import './break.scss';

body {
  font-family: input-mono-compressed,monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #b5b8bb;
  height: 100vh;
  margin: 0px;
}

.fade-in {
  opacity: 1 !important;
  transform: translate(0,-10px);
  transition: opacity 3s ease !important;
}

.fade-out {
  opacity: 0 !important;
  transition: opacity 3s ease !important;
}

.land {
  top: 0px;
  opacity: 0;
  width: 100vw;
  box-sizing: border-box;

}

.opener {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  width: 100vw;
}

#flash {
  font-size: 18vw;
  transform: scale(.8, 3.8);
  color: #C6FF00;
  text-align: center;
  opacity: 1;
  cursor: default;
}
