@import './break.scss';

@font-face {
  font-family: "FavoritPro-Regular";
  src: url("..assets/fonts/FavoritPro-Regular.otf") format("otf"),
       url("..assets/fonts/FavoritPro-Regular.otf") format("otf");
}


body {
  font-family: FavoritPro-Regular;
  font-weight: 400;
  font-style: normal;
  background-color: #F2F2F2;
  min-height: 100vh;
  margin: 0px;
  overflow-x: hidden;
}


.fade-in {
  opacity: 1 !important;
  transform: translate(0,-10px);
  transition: opacity 3s ease !important;
}

.fade-out {
  opacity: 0 !important;
  transition: opacity 3s ease !important;
}

.land {
  top: 0px;
  opacity: 0;
  transform: translate(0,30px);
  width: 70vw;
  box-sizing: border-box;

}

.opener {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  width: 100vw;
  top: -70;
}

#flash {
  font-size: 18vw;
  transform: scale(.8, 4);
  color: #C6FF00;
  text-align: center;
  opacity: 1;
  cursor: default;
}
