$gridwidth: 100vw;
$gridmargins: 66px;
$gridgutters: 12px;
$totalcolumns: 12;
$singlecolumn: calc(( ( #{$gridwidth} - ( #{$gridmargins} * 2) ) - (( #{$totalcolumns} -1) * #{$gridgutters} ) ) / #{$totalcolumns} );


.text-box {
  font-family: 'Space Mono', monospace;
  $columnspan: 2.5;
  width: calc(( #{$singlecolumn} * #{$columnspan} ) + ( #{$gridgutters} * ( #{$columnspan} -1) ));
  position: absolute;
  left: calc( #{$gridmargins} + #{$gridgutters} );
  top: calc( #{$gridmargins} + ( 1 * #{$gridgutters}));
  transform-origin: top left;
  text-align: justify;
}

.container {
  display: flex;
  padding: 0 4px;
  width: 50vw;
  margin: auto;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

.column {
  flex: 25%;
  margin: 0px 5px;
}

img {
  width: 100%;
  transform: translateY(-30px);
  opacity: 0;
  cursor: pointer;
}

.margins {
}


img.active {
  transform: translateY(0px);
  transition: all 1s ease;
  opacity: 1;
}



ul {
  list-style: none;
}

li {
  display: inline;
  margin-right: 20px;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0px calc(32vw / 2);
  padding-left: 2px;
  position: relative;
  z-index: 1000;
}

.textover {
  position: relative;
  text-align: center;
  color: white;
  margin: 10px 0px;

}

.textover:hover {
  position: relative;
  text-align: center;
  color: white;
  .bottom-left {
    opacity: 0;
  }

}

/* Bottom left text */
.bottom-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.bottom-left:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

}

.textover:hover .bottom-left{
  opacity: 1;
  transition: opacity 1s ease;
}

.textover:hover img {
  mix-blend-mode: exclusion;
  transition: mix-blend-mode 1s ease;
}

footer {
  padding: 20px calc(32vw / 2);
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, rgba(242,242,242,0), rgba(198,255,0,1));
  background-size: cover;
  font-size: 50px;
}

.ticker {
  display: flex;
}
.ticker__list {
  display: flex;
  margin-top: 20px;
  animation: ticker 15s infinite linear;
}

.ticker__item {
  margin-right: 20px;
}
@-moz-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
@-o-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

.banner {
  height: 300px;
  font-family: FavoritPro-Regular;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background-position: bottom;
  margin: auto;
  width: 68.5vw !important;

  .bannertext {
    font-family: FavoritPro-Regular;
    font-weight: 400;
    transform: translateY(30px);
    opacity: 0;
    transition: all 1s ease;
  }
  .bannertext.now {
    font-family: FavoritPro-Regular;
    font-weight: 400;
    transform: translateY(0px);
    opacity: 1;
    transition: all 1s ease;
  }
}
